* {
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header__container {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0;
}
.header__nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__text {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #373A39;
}
.nav__text:hover {
  -webkit-text-decoration: underline green;
          text-decoration: underline green;
}

.main {
  background: url(../img/images/Header-bg.jpg) center;
  padding-top: 240px;
  padding-bottom: 60px;
}
.main__title {
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  /* identical to box height */
  color: #FFFFFF;
  margin-bottom: 18.5px;
}
.main__under-title {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: 179.5px;
}
.main__mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-us {
  background: #F6F8FA;
}
.about-us__container {
  padding-top: 143px;
  padding-bottom: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-us__information {
  width: 65%;
}
.about-us__text {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.title__text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 48px;
  line-height: 75px;
  /* identical to box height, or 156% */
  color: #242121;
}
.title__underline {
  width: 60px;
  height: 4px;
  background: #FCBB08;
  border: none;
}

.our-expertise__container {
  padding-top: 143px;
  padding-bottom: 164px;
}
.our-expertise__title {
  margin-bottom: 89px;
}
.our-expertise__info {
  margin-bottom: 110px;
}
.our-expertise__under-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-expertise__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #373A39;
}

.item-under-info-expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 27px;
}
.item-under-info-expertise:last-child {
  margin-right: 0px;
}
.item-under-info-expertise__block-img {
  margin-right: 35px;
}
.item-under-info-expertise__title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 4.29px;
  color: #333333;
}
.item-under-info-expertise__text {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #777777;
}

.magic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.magic__information {
  padding: 101px;
}
.magic__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #373A39;
}

.portfolio__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pictures-column__item {
  width: 340px;
  background: black;
}
.pictures-column--first {
  width: 340px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pictures-column--first#one {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
}
.pictures-column--first#two {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 300px;
          flex: 1 2 300px;
}
.pictures-column--second {
  width: 340px;
  height: 100px;
}
.pictures-column--third {
  width: 340px;
  height: 100px;
}
.pictures-column--fourth {
  width: 340px;
  height: 100px;
}